<div class="widgets" ng-controller="ProfilePageCtrl">
    <div class="col-md-12">
        <div class="panel profile-page animated zoomIn" style="width: 100%">
            <div class="panel-body">
                <form ng-submit="setRecordData()" method="post" name="{{ view_name }}Form" url="{{ view_url }}"
                      ng-id="{% if form_type == "change" %}none{% endif %}"
                      row_id_field_name="{{ row_id_field_name }}"
                      form-type="{% if form_type %} {{ form_type }}{% else %}grid-change{% endif %}"
                      ng-init="initForm({{ ng_model }})" ng-controller="formController as gridform">
                    {{ form.render_errors }}
                    {% csrf_token %}
                    <h3 class="with-line">General Information</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                {{ form.avatar.as_formgroup }}
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

                                <div class="col-sm-9">
                                    {{ form.first_name.as_formgroup }}
                                </div>
                            </div>
                            <div class="form-group row clearfix">
                                <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>

                                <div class="col-sm-9">
                                    {{ form.last_name.as_formgroup }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label class="col-sm-3 control-label">Department</label>

                                <div class="col-sm-9">
                                    {{ form.department.as_formgroup }}
                                </div>
                            </div>

                            <div class="form-group row clearfix">
                                <label for="inputOccupation" class="col-sm-3 control-label">Occupation</label>

                                <div class="col-sm-9">
                                    {{ form.occupation.as_formgroup }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="with-line">Change Password</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputPassword" class="col-sm-3 control-label">Password</label>

                                <div class="col-sm-9">
                                    {{ form.new_password.as_formgroup }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm
                                    Password</label>

                                <div class="col-sm-9">
                                    {{ form.new_password_confirmation.as_formgroup }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="with-line">Contact Information</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

                                <div class="col-sm-9">
                                    {{ form.email.as_formgroup }}
                                </div>
                            </div>
                            <div class="form-group row clearfix">
                                <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

                                <div class="col-sm-9">
                                    {{ form.phone.as_formgroup }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label class="col-sm-3 control-label">Office Location</label>

                                <div class="col-sm-9">
                                    {{ form.office_location.as_formgroup }}
                                </div>
                            </div>
                            <div class="form-group row clearfix">
                                <label for="inputRoom" class="col-sm-3 control-label">Room</label>

                                <div class="col-sm-9">
                                    {{ form.room.as_formgroup }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-with-icon save-profile">
                        <i class="ion-android-checkmark-circle"></i>Update Profile
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
