.multiselect {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
}
.multiselect label {
    margin: 10px;
}

.multiselect .btn {
    margin: 10px;
}

.multiselect .pool {
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    height: 150px;
    overflow-y: scroll;
}

.multiselect .pool ul {
    list-style: none;
    padding-left: 0px;
}

.multiselect .pool ul li {
    width: 100%;
    padding: 4px 8px 4px 4px;
    border-bottom: 1px dotted #CFCFCF;
}

.multiselect .pool ul li a:hover {
    text-decoration: none;
}